In [5]:
import pandas as pd
import numpy as np

#Archivo
df = pd.read_csv("supermarket_sales.csv")

In [4]:
df.sample(3)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
697,826-58-8051,B,Mandalay,Normal,Male,Home and lifestyle,62.19,4,12.4380,261.1980,1/6/2019,19:46,Ewallet,248.76,4.761905,12.4380,4.3
859,316-66-3011,A,Yangon,Member,Female,Food and beverages,47.63,9,21.4335,450.1035,1/23/2019,12:35,Cash,428.67,4.761905,21.4335,5.0
338,633-09-3463,C,Naypyitaw,Normal,Female,Electronic accessories,47.65,3,7.1475,150.0975,3/28/2019,12:58,Credit card,142.95,4.761905,7.1475,9.5

In [6]:
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_')
df.columns

Index(['invoice_id', 'branch', 'city', 'customer_type', 'gender',
       'product_line', 'unit_price', 'quantity', 'tax_5%', 'total', 'date',
       'time', 'payment', 'cogs', 'gross_margin_percentage', 'gross_income',
       'rating'],
      dtype='object')

In [15]:
# Generar estadística descriptiva básica en las columnas unit_price y quantity
# Primero convertir a array Numpy
unit_price_np = df['unit_price'].to_numpy()
quantity_np = df['quantity'].to_numpy()
total_np = df['total'].to_numpy()

In [10]:
type(unit_price_np), type(quantity_np)

(numpy.ndarray, numpy.ndarray)

In [12]:
# Media
unit_price_mean = np.mean(unit_price_np)
quantity_mean = np.mean(quantity_np)

print(f"Media de unit_price: {unit_price_mean}")
print(f"Media de quantity: {quantity_mean}")

Media de unit_price: 55.67213
Media de quantity: 5.51

In [13]:
# Moda
vals, counts = np.unique (unit_price_np, return_counts=True)
index = np.argmax (counts) 
moda = vals[index]
print(f'La moda de unit_price_np = {moda:.2f}')

vals, counts = np.unique (quantity_np, return_counts=True)
index = np.argmax (counts) 
moda = vals[index]
print(f'La moda de quantity_np = {moda:.2f}')

La moda de unit_price_np = 83.77
La moda de quantity_np = 10.00

In [14]:
# Mediana
mediana = np.median(unit_price_np)
print(f'La mediana de unit_price_np = {mediana:.2f}')   

mediana = np.median(quantity_np)
print(f'La mediana de quantity_np = {mediana:.2f}')

La mediana de unit_price_np = 55.23
La mediana de quantity_np = 5.00

In [22]:
# Obtener ticket promedio por ciudad
ticket_promedio = df.groupby('city')['total'].mean().reset_index()
ticket_promedio['total'] = ticket_promedio['total'].round(2)
ticket_promedio

        city   total
0   Mandalay  319.87
1  Naypyitaw  337.10
2     Yangon  312.35

In [24]:
# Obtener ticket producto en linea y ciudad
ticket_producto = df.groupby(['city', 'product_line'])['total'].mean().reset_index() #reset_index() devuelve un DataFrame
ticket_producto['total'] = ticket_producto['total'].round(2)
ticket_producto = ticket_producto.sort_values(by='total', ascending=False)
ticket_producto

         city            product_line   total
3    Mandalay       Health and beauty  376.99
8   Naypyitaw      Food and beverages  360.10
4    Mandalay      Home and lifestyle  350.98
11  Naypyitaw       Sports and travel  350.27
6   Naypyitaw  Electronic accessories  344.89
16     Yangon      Home and lifestyle  344.88
7   Naypyitaw     Fashion accessories  331.69
17     Yangon       Sports and travel  328.35
5    Mandalay       Sports and travel  322.39
13     Yangon     Fashion accessories  320.25
9   Naypyitaw       Health and beauty  319.53
0    Mandalay  Electronic accessories  310.03
10  Naypyitaw      Home and lifestyle  308.79
12     Yangon  Electronic accessories  305.29
2    Mandalay      Food and beverages  304.30
14     Yangon      Food and beverages  295.92
15     Yangon       Health and beauty  268.04
1    Mandalay     Fashion accessories  264.73

In [25]:
# Obtener ticket por género
ticket_genero = df.groupby('gender')['total'].mean().reset_index()
ticket_genero['total'] = ticket_genero['total'].round(2)
ticket_genero = ticket_genero.sort_values(by='total', ascending=False)  
ticket_genero

   gender   total
0  Female  335.10
1    Male  310.79

In [26]:
# Obtener ticket por género y ciudad
ticket_genero_ciudad = df.groupby(['gender', 'city'])['total'].mean().reset_index()
ticket_genero_ciudad['total'] = ticket_genero_ciudad['total'].round(2)
ticket_genero_ciudad = ticket_genero_ciudad.sort_values(by='total', ascending=False)
ticket_genero_ciudad

   gender       city   total
1  Female  Naypyitaw  346.55
2  Female     Yangon  330.86
0  Female   Mandalay  326.72
4    Male  Naypyitaw  325.89
3    Male   Mandalay  313.35
5    Male     Yangon  295.71

In [31]:
# Top por ciudad 
ventas_ciudad = df.groupby("city")["total"].sum().reset_index()
ventas_ciudad["Porcentaje"] = (ventas_ciudad["total"] / ventas_ciudad["total"].sum()) * 100

ventas_ciudad["Ranking"] = ventas_ciudad["total"].rank(method='dense', ascending=False)

top_ciudad = ventas_ciudad.sort_values("Ranking").head()

print(top_ciudad)

        city        total  Porcentaje  Ranking
1  Naypyitaw  110568.7065   34.235322      1.0
2     Yangon  106200.3705   32.882757      2.0
0   Mandalay  106197.6720   32.881921      3.0

In [33]:
# Top por memeber
ventas_customertype = df.groupby("customer_type")["total"].sum().reset_index()
ventas_customertype["Porcentaje"] = (ventas_customertype["total"] / ventas_customertype["total"].sum()) * 100

ventas_customertype["Ranking"] = ventas_customertype["total"].rank(method='dense', ascending=False)

top_customertype = ventas_customertype.sort_values("Ranking").head()

print(top_customertype)

  customer_type       total  Porcentaje  Ranking
0        Member  164223.444   50.848406      1.0
1        Normal  158743.305   49.151594      2.0

In [34]:
# Top por ventas por payment
ventas_payment = df.groupby("payment")["total"].sum().reset_index()
ventas_payment["Porcentaje"] = (ventas_payment["total"] / ventas_payment["total"].sum()) * 100

ventas_payment["Ranking"] = ventas_payment["total"].rank(method='dense', ascending=False)

top_payment = ventas_payment.sort_values("Ranking").head()

print(top_payment)

       payment       total  Porcentaje  Ranking
0         Cash  112206.570   34.742453      1.0
2      Ewallet  109993.107   34.057099      2.0
1  Credit card  100767.072   31.200448      3.0

In [ ]:
# Correlación
r = np.corrcoef(unit_price_np, df.rating)
r

# Los productos más caros no son necesariamente lo que dejan más margen.

array([[ 1.        , -0.00877751],
       [-0.00877751,  1.        ]])